/* font imports */
@import url( https://fonts.googleapis.com/css?family=Signika:400,700 );

body { font-family: 'Signika',sans-serif; }

a { color: hsl( 90,88%,55% ); }

/* header */
.header { width: 1200px; }

/* list container */
.list-container {
    background-color: hsl( 200,10%,15% );
    border: 1px solid hsl( 200,10%,8% );
    color: hsl( 0,0%,80% );
    width: 1200px;
}

    /* list container - cover block */
    .cover-block { width: 1166px; }
    .cover-block .image-container { width: 1166px; }
    .cover-block .image-container img { max-width: 1166px; }

    /* list container - status menu */
    .status-menu-container {
        width: 1200px;
        background-color: hsl( 200,10%,20% );
        border-bottom: 1px solid hsl( 200,10%,8% );
    }
    .status-menu-container .status-menu .status-button {
        font-family: 'Signika',sans-serif;
        color: hsl( 0,0%,80% );
    }
    .status-menu-container .status-menu .status-button.on {
        color: hsl( 90,88%,65% );
        font-weight: normal;
    }
    .status-menu-container .status-menu .status-button:after { background-color: hsl( 90,88%,55% ); }

        /* list container - status menu - search */
        .status-menu-container .search-container #search-button { color: hsl( 0,0%,80% ); }

    /* list container - list block */
    .list-unit { width: 1166px; }

    /* list container - list status title (with stats) */
    .list-unit .list-status-title {
        background-color: hsl( 200,10%,6% );
        width: 1166px;
    }
    .list-unit .list-status-title .text {
        width: 1166px;
        color: hsl( 0,0%,80% );
        font-family: 'Signika',sans-serif;
    }
    .list-unit .list-status-title .stats a { color: hsl( 0,0%,80% ); }
    .list-unit .list-stats {
        background-color: hsl( 105,40%,25% );
        width: 1166px;
        color: hsl( 0,0%,90% );
    }

    /* list container - list table */
    .list-table { border: 1px solid hsl( 200,10%,8% ); }
    .list-table > tbody:nth-of-type( 2n+1 ) { background-color: hsl( 200,10%,11% ); }

        /* list container - list table - header */
        .list-table .list-table-header .header-title {
            background-color: hsl( 200,10%,8% );
            border-bottom: 1px solid hsl( 200,10%,8% );
        }
        /*.list-table .list-table-header .header-title.tags { width: 280px; }*/
        .list-table .list-table-header .header-title .link { color: hsl( 0,0%,80% ); }
        .list-table .list-table-header .header-title .link.sort { color: hsl( 0,0%,80% ); }
        .list-table .list-table-header .header-title .link.sort:hover { color: hsl( 90,88%,65% ); }
        .list-table .list-table-header .header-title .sort-icon { color: hsl( 90,88%,55% ); }

        /* list container - list table - items */
        .list-table .list-table-data .data { border-bottom: 1px solid hsl( 200,10%,8% ); }
        .list-table .list-table-data a.edit-disabled { color: hsl( 0,0%,80% ); }
        .list-table .list-table-data .data.image .image { border: 1px solid hsl( 200,10%,8% ); }
        .list-table .list-table-data .data.title .link { font-weight: normal; }
        .list-table .list-table-data .data.title .add-edit-more a {
            color: hsl( 90,88%,35% );
            background-color: transparent;
            border: 1px solid transparent;
            display: inline-block;
            padding: 1px 3px;
        }
        .list-table .list-table-data .data.title .add-edit-more a:hover {
            color: hsl( 200,10%,11% );
            background-color: hsl( 90,88%,35% );
            border-color: hsl( 90,88%,25% );
            text-decoration: none;
        }
        .list-table .list-table-data .tags { text-align: left; }
        .list-table .list-table-data .tags .edit {
            color: hsl( 90,88%,35% );
            display: inline-block;
            float: right;
            width: auto;
            min-width: 6em;
            background-color: transparent;
            border: 1px solid transparent;
            font-family: 'Signika',sans-serif;
        }
        .list-table .list-table-data .tags .edit:hover {
            color: hsl( 200,10%,11% ) !important;
            background-color: hsl( 90,88%,35% );
            border-color: hsl( 90,88%,25% );
            text-decoration: none;
        }
        .list-table .list-table-data .data.title .rewatching,
        .list-table .list-table-data .data.title .rereading,
        .list-table .list-table-data .data.title .content-status { color: hsl( 0,0%,75% ); }
        .list-table .more-info { border-bottom: 1px solid hsl( 200,10%,8% ); }