/* font imports */
@import url( https://fonts.googleapis.com/css?family=Signika:400,700 );

body {
    background: url( http://i.imgur.com/kxoBuTA.jpg ) fixed hsl( 0,0%,0% );
    font-family: 'Signika', sans-serif;
    font-size: 13px;
    color: hsl( 27,91%,91%);
}

a       { text-decoration: none; }
a:hover { text-decoration: underline; }

small { font-size: 0.8em; }

/* main container */
#list_surround {
    background: hsla( 0,0%,0%,0.6 );
    max-width: 86em;
    width: unset;
    margin: 1em auto;
    padding: 1em;
}

    /* tab menu */
    .status_not_selected,.status_selected {
        background: none;
        border: 0;
        font-size: 1.2em;
    }
    .status_not_selected a { color: hsl( 37,100%,73% ); }
    .status_selected a     { color: hsl( 27,91%,91%); }

    /* section titles */
    .header_title {
        color: hsla( 5,100%,60%,1 );
        font-size: 1.5em;
        padding-bottom: 0.5em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    /* table headings */
    td.table_header {
        background: none;
        border: 0;
        font-size: 1.1em;
        color: hsla( 5,100%,60%,1 );
        border-bottom: 1px solid hsla( 5,100%,60%,1 );
        padding: 0.5em 0.4em;
    }
    td.table_header a { color: hsla( 5,100%,60%,1 ); }

    /* table row backgrounds */
    td.td1 { background: transparent; }
    td.td2 { background: hsla( 0,0%,0%,0.7 ); }

    tr:hover td[class^="td"] {
        background: hsla( 37,69%,20%,0.7 );
    }

    /* table cells */
    td.td1,td.td2 {
        color: hsl( 27,91%,91% );
        border: 0;
        padding: 0.5em 0.4em;
        font-size: 1em;
    }
    td.td1 a,td.td2 a { color: hsl( 37,100%,73% ); }

    .animetitle { font-weight: normal; }

    .category_totals {
        padding-top: 0.8em;
        text-align: center;
        text-transform: uppercase;
    }
    #grand_totals {
        text-align: center;
        text-transform: uppercase;
    }

/* english anime titles */
a.animetitle[href^='/anime/9919/']::after { content: '(Blue Exorcist)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/28391/']::after { content: '(Aokana: Four Rhythm Across the Blue)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/31043/']::after { content: '(ERASED)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/24765/']::after { content: '(School-Live!)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/8525/']::after { content: '(The World God Only Knows)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/30831/']::after { content: '(KonoSuba: God\'s Blessing on This Wonderful World!)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/31442/']::after { content: '(Myriad Colors Phantom World)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/30749/']::after { content: '(Undefeated Bahamut Chronicle)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/21995/']::after { content: '(Blue Spring Ride)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/15225/']::after { content: '(The "Hentai" Prince and the Stony Cat.)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/22535/']::after { content: '(Parasyte -the maxim-)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/23755/']::after { content: '(The Seven Deadly Sins)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/8769/']::after { content: '(Oreimo)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/13659/']::after { content: '(Oreimo 2)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/18857/']::after { content: '(Oreimo Specials)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/13759/']::after { content: '(The Pet Girl of Sakurasou)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/28171/']::after { content: '(Food Wars! Shokugeki no Soma)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/14289/']::after { content: '(Say "I Love You")'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/11553/']::after { content: '(Toradora! Special)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/14813/']::after { content: '(My Teen Romantic Comedy SNAFU)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/28677/']::after { content: '(Yamada-kun and the Seven Witches)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16/']::after { content: '(Honey and Clover)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/24833/']::after { content: '(Assassination Classroom)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/30654/']::after { content: '(Assassination Classroom 2nd Season)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/12115/']::after { content: '(Berserk: The Golden Age Arc III - The Advent)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/1575/']::after { content: '(Code Geass: Lelouch of the Rebellion)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/29067/']::after { content: '(I Can\'t Understand What My Husband Is Saying: 2nd Thread)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/13161/']::after { content: '(Aesthetica of a Rogue Hero)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/387/']::after { content: '(Charcoal Feather Federation)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/15809/']::after { content: '(The Devil is a Part-Timer!)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/25159/']::after { content: '(When Supernatural Battles Became Commonplace)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16668/']::after { content: '(Valvrave the Liberator)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/32491/']::after { content: '(She and Her Cat: Everything Flows)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/21863/']::after { content: '(The Comic Artist and His Assistants)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16067/']::after { content: '(A Lull in the Sea)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/1210/']::after { content: '(Welcome to the N.H.K.)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/23277/']::after { content: '(Saekano: How to Raise a Boring Girlfriend)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/23273/']::after { content: '(Your Lie in April)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16498/']::after { content: '(Attack on Titan)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/13125/']::after { content: '(From the New World)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16524/']::after { content: '(Gargantia on the Verdurous Planet)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/17909/']::after { content: '(The Eccentric Family)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16742/']::after { content: '(WataMote: No Matter How I Look At It, It\'s You Guys\'s Fault I\'m Unpopular!)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/4999/']::after { content: '(Samurai Harem)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/26349/']::after { content: '(I Can\'t Understand What My Husband Is Saying)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/10080/']::after { content: '(The World God Only Knows II)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/9756/']::after { content: '(Puella Magi Madoka Magica)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/20785/']::after { content: '(The Irregular at Magic High School)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/19775/']::after { content: '(Knights of Sidonia)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/23289/']::after { content: '(Monthly Girls\' Nozaki-kun)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/16706/']::after { content: '(The World God Only Knows: Goddesses)'; font-size: 0.75em; margin-left: 0.5em; }
a.animetitle[href^='/anime/2966/']::after { content: '(Spice and Wolf)'; font-size: 0.75em; margin-left: 0.5em; }
